<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <span>
      <img class="chevron collapsible__chevron" src="images/chevron.svg"
    /></span>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint necessitatibus
    earum voluptatem itaque vel excepturi distinctio praesentium laborum, hic
    dolores.
  </div>
</div>
<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <span>
      <img class="chevron collapsible__chevron" src="images/chevron.svg"
    /></span>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint necessitatibus
    earum voluptatem itaque vel excepturi distinctio praesentium laborum, hic
    dolores.
  </div>
</div>
<script src="js/main.js"></script>
