<section class="block container">
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <h3>Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto
        consequatur obcaecati at autem, aspernatur omnis quas ex. Quasi ipsa
        accusantium nihil rem saepe numquam repellendus illum porro, quia
        officiis repudiandae tempore provident, sint at quas laborum esse minus?
        Dolores quos quasi veniam saepe minus nemo, sed esse in illum aperiam.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/easy.webp 1x, images/easy@2x.webp 2x"
      />
      <source
        type="image/webp"
        srcset="images/easy.jpg 1x, images/easy@2x.jpg 2x"
      />
      <img class="feature__image" src="images/easy@2x.jpg" alt="" />
    </picture>
  </article>
</section>
<section class="block container">
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <h3>Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto
        consequatur obcaecati at autem, aspernatur omnis quas ex. Quasi ipsa
        accusantium nihil rem saepe numquam repellendus illum porro, quia
        officiis repudiandae tempore provident, sint at quas laborum esse minus?
        Dolores quos quasi veniam saepe minus nemo, sed esse in illum aperiam.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/easy.webp 1x, images/easy@2x.webp 2x"
      />
      <source
        type="image/webp"
        srcset="images/easy.jpg 1x, images/easy@2x.jpg 2x"
      />
      <img class="feature__image" src="images/easy@2x.jpg" alt="" />
    </picture>
  </article>
</section>
<section class="block container">
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <h3>Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto
        consequatur obcaecati at autem, aspernatur omnis quas ex. Quasi ipsa
        accusantium nihil rem saepe numquam repellendus illum porro, quia
        officiis repudiandae tempore provident, sint at quas laborum esse minus?
        Dolores quos quasi veniam saepe minus nemo, sed esse in illum aperiam.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/easy.webp 1x, images/easy@2x.webp 2x"
      />
      <source
        type="image/webp"
        srcset="images/easy.jpg 1x, images/easy@2x.jpg 2x"
      />
      <img class="feature__image" src="images/easy@2x.jpg" alt="" />
    </picture>
  </article>
</section>
